extends layout

block content

    
    h1 #{title}
    | This page summarises all transfers based on today's transactions
    table(class="table")
     thead
      tr
       th Total
       th Source Account
       th Transfer
       th Destination Account
     tbody
      - each transfer in transfers_array
       tr
        td #{transfer.total}
        td #{transfer.src_real_acct}
        td
         if transfer.total > 0
          img(src="/images/arrow-left.svg" width="64" height="32")
         else
          img(src="/images/arrow-right.svg" width="64" height="32")
        td #{transfer.target_real_acct}
    br

